{% extends 'base.html' %}

{% block content %}
    <style>
    body{
        background-color: mediumpurple ;
    }
    h1{
        color: purple;
    }
    a{
        color: rebeccapurple;
    }
</style>
<h1>{% block title %} Création d'une nouvelle ligne {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="SepalLengthCm">Longueur Sepal</label>
        <input type="text" name="SepalLengthCm"
               placeholder="La longueur des sepal" class="form-control"
               value="{{ request.form['SepalLengthCm'] }}"></input>
    </div>

    <div class="form-group">
        <label for="SepalWidthCm">Largeur sepals</label>
        <textarea name="SepalWidthCm" placeholder="La largeur des sepals (en cm)"
                  class="form-control">{{ request.form['SepalWidthCm'] }}</textarea>
    </div>
        <div class="form-group">
        <label for="PetalLengthCm">Longueur petale</label>
        <textarea name="PetalLengthCm" placeholder="La longueur des petales (en cm)"
                  class="form-control">{{ request.form['PetalLengthCm'] }}</textarea>
    </div>
        <div class="form-group">
        <label for="PetalWidthCm">Largeur petale</label>
        <textarea name="PetalWidthCm" placeholder="La largeur des petales (en cm)"
                  class="form-control">{{ request.form['PetalWidthCm'] }}</textarea>
    </div>
        <div class="form-group">
        <label for="Species">Espèce</label>
        <textarea name="Species" placeholder="Espece d'Iris"
                  class="form-control">{{ request.form['Species'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">C'est bon</button>
    </div>
</form>
{% endblock %}