{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Edit "{{ post['Id'] }}" {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="Id">Id</label>
        <input type="text" name="Id" placeholder="Post title"
               class="form-control"
               value="{{ request.form['Id'] or post['Id'] }}">
        </input>
    </div>

    <div class="form-group">
        <label for="SepalLengthCm">Content</label>
        <textarea name="SepalLengthCm" placeholder="Post content"
                  class="form-control">{{ request.form['SepalLengthCm'] or post['SepalLengthCm'] }}</textarea>
    </div>
    <div class="form-group">
        <label for="SepalWidthCm">Content</label>
        <textarea name="SepalWidthCm" placeholder="Post content"
                  class="form-control">{{ request.form['SepalWidthCm'] or post['SepalWidthCm'] }}</textarea>
    </div>
    <div class="form-group">
        <label for="PetalLengthCm">Content</label>
        <textarea name="PetalLengthCm" placeholder="Post content"
                  class="form-control">{{ request.form['PetalLengthCm'] or post['PetalLengthCm'] }}</textarea>
    </div>
    <div class="form-group">
        <label for="PetalWidthCm">Content</label>
        <textarea name="PetalWidthCm" placeholder="Post content"
                  class="form-control">{{ request.form['PetalWidthCm'] or post['PetalWidthCm'] }}</textarea>
    </div>
    <div class="form-group">
        <label for="Species">Content</label>
        <textarea name="Species" placeholder="Post content"
                  class="form-control">{{ request.form['Species'] or post['Species'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
<hr>
    <form action="{{ url_for('delete', id=post['id']) }}" method="POST">
    <input type="submit" value="Delete Post"
            class="btn btn-danger btn-sm"
            onclick="return confirm('Are you sure you want to delete this post?')">
</form>
{% endblock %}