{% extends 'base.html' %}

{% block content %}
    <style>
    body{
        background-color: mediumpurple ;
    }
    h1{
        color: purple;
    }
    a{
        color: rebeccapurple;
    }
</style>
<h1>{% block title %} Éditer "{{ post['id'] }}" {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="SepalLengthCm">SepalLengthCm</label>
        <input type="text" name="SepalLengthCm" placeholder="La largeur des sepals (en cm)"
               class="form-control"
               value="{{ request.form['SepalLengthCm'] or post['SepalLengthCm'] }}">
        </input>
    </div>

    <div class="form-group">
        <label for="SepalWidthCm">longueur sepals</label>
        <textarea name="SepalWidthCm" placeholder="La longueur des sepals (en cm)"
                  class="form-control">{{ request.form['SepalWidthCm'] or post['SepalWidthCm'] }}</textarea>
    </div>
    <div class="form-group">
        <label for="PetalLengthCm">longueur petales</label>
        <textarea name="PetalLengthCm" placeholder="La longueur des petales (en cm)"
                  class="form-control">{{ request.form['PetalLengthCm'] or post['PetalLengthCm'] }}</textarea>
    </div>
    <div class="form-group">
        <label for="PetalWidthCm">largeur petales</label>
        <textarea name="PetalWidthCm" placeholder="La largeur des petales (en cm)"
                  class="form-control">{{ request.form['PetalWidthCm'] or post['PetalWidthCm'] }}</textarea>
    </div>
    <div class="form-group">
        <label for="Species">Espèce</label>
        <textarea name="Species" placeholder="Espèce de la fleur (en cm)"
                  class="form-control">{{ request.form['Species'] or post['Species'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">C'est finito</button>
    </div>
</form>
<hr>
    <form action="{{ url_for('delete', id=post['id']) }}" method="POST">
    <input type="submit" value="Suprimado"
            class="btn btn-danger btn-sm"
            onclick="return confirm('T es sur de vouloir supprimer ?')">
</form>
{% endblock %}