{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} {{ post['id'] }} {% endblock %}</h2>
    <span class="badge badge-primary">{{ post['created'] }}</span>
    <h2>Longeur des sepals </h2>
    <h1>{{ post['SepalLengthCm'] }}</h1>
    <h2>Largeur des sepals </h2>
    <h1>{{ post['SepalWidthCm'] }}</h1>
    <h2>Longeur des petales </h2>
    <h1>{{ post['PetalLengthCm'] }}</h1>
    <h2>Largeur des petales </h2>
    <h1>{{ post['PetalWidthCm'] }}</h1>
    <h2>Espèce de la fleur </h2>
    <h1>{{ post['Species'] }}</h1>


{% endblock %}