{% extends 'base.html' %}

{% block content %}
    <style>

body{
  background-color: #454242;
}
h1{
    color: blueviolet;
}
h2{
    color: lavender;
}
h1{
    color : ghostwhite;
}
h3{
    color : ghostwhite;
}


</style>
    <h1>{% block title %} J'aime mon chat et ma copine{% endblock %}</h1>
    <h2>Ils sont ma raison de vivre je montre sa bouille (o chat) sur twitter, je vais faire un exposé de ma passion en parlant de lui (et en parlant de musicologie, je jure que
        c'est cool) et si il meurs JE MEURS C'EST AUSSI SIMPLE QUE CA</h2>
    <img src="https://i.ibb.co/XCgV6Yr/image-2021-06-06-231054.png">
    <h2>CHAT CHAT CHAT CHAT CHAT</h2>
    <h3> Accessoirement je m'appelle Adrien Grosjean et maths pures > maths appliquées + j'aime pas commenter mon code </h3>
{% endblock %}